* {
  margin: 0;
  padding: 0;
  box-sizing: border-box!important;
  font-family:'Text Me One', sans-serif;
}
body{
  background-color: GhostWhite;
  color: #371700;
}
header, footer{
  width: 100%;
  height: 80px;
  background-color: #FFEDDE;
}
.canvas{
  min-height: 100vh;
  max-width:  1000px;
  margin: 0px auto;
  padding: 20px 20px 40px 20px;
  background-color: white;
}
.content{
  max-width: 580px;
  margin: 0 auto;
}
img{
  max-width: 100%;
  margin: 40px auto 10px auto;
}
footer{
  border-top:2px solid #f5c69c;
}
footer p{
  text-align: center;
  padding:30px 0 10px 0;
  color: #8c7057;
  font-size: 0.9em;
  letter-spacing: 0.2em;
}
header{
  border-bottom: 2px solid #f5c69c;
}
h1{
  color: #bb3631;
  margin: 50px 0 20px 0;
  font-size:1.9em;
  font-family: 'Fugaz One', cursive;
  line-height: 1.25em;
}
p, td, th, figcaption{
  font-size: 1.18em;
}
figcaption{
  font-style: italic;
  color: #bbc394;
}
header ul{
  text-align: center;
}
header li{
  display: inline-block;
  width: 120px;
  height: 40px;
  background-color: #f5c69c;
  margin: 40px auto;
  padding: 5px;
  border: 2px solid #f5c69c;
  border-top-left-radius:2px;
  border-top-right-radius:  2px;
}
header li:hover, form button:hover{
background-color: #bb3631;
}
header li:hover a, form button:hover{
  color: #371700!important;
}
header li:active, form button:active {
background-color: GhostWhite!important;
}
header li:active a, form button:active{
  color: #f5c69c!important;
}
ul a{
  font-family: 'Fugaz One', cursive;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
form{
  padding-top: 10px;
}
input, label, textarea{
  display: block;
}
input, textarea{
    padding:5px;
    border-radius:2px;
    border: 2px solid #f5c69c;
    outline: none;
    background-color: #FFEDDE33;

}
input{
  margin-top: 10px;
  width: 330px;
}
textarea{
  width: 100%;
  height: 300px;
  margin-top:25px;
}
::placeholder{
  color: #8c7057;
  opacity: 0.5;
}
label{
  display:none;
}
form button{
  margin-top: -2px;
  padding:5px;
  width: 120px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 2px solid #f5c69c;
  height: 40px;
  background-color: #f5c69c;
  font-family: 'Fugaz One', cursive;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
